<!-- Control de versiones -->
<div class="version-control">
  <div class="version-title">
    <span>Control de Versiones</span>
  </div>
  <div class="version-actions">
    <select 
      class="form-select version-select" 
      [(ngModel)]="currentVersionId"
      (change)="changeVersion($any($event.target).value)">
      <option *ngFor="let version of versions; let i = index" [value]="version.ID_V">
        Versión {{ i + 1 }}
      </option>
    </select>
    <button 
      class="btn version-btn"
      (click)="createNewVersion()">
      Nueva Versión
    </button>
    <button 
      class="btn version-btn guardar"
      (click)="guardarVersion()">
      Guardar
    </button>
    <button 
      class="btn version-btn delete"
      (click)="eliminarVersion()">
      Eliminar
    </button>
  </div>
</div>


<div style="display: flex; width: 100%; height: 100vh;">
    <div class="palette-container">
      <div class="palette-header">Elementos</div>
      <div id="palette"></div>
      <div class="tools">
        <button class="button" id="ofrecida" [ngClass]="{'active': interOfrecida}" (click)="toggleInterfaz('ofrecida')">--C</button>
        <br>
        <br>
        <button class="button" id="solicitada" [ngClass]="{'active': interSolicitada}" (click)="toggleInterfaz('solicitada')">--O</button>
      </div>
    </div>
    <div #diagramDiv class="diagram"></div>
  </div>
  